.inner-hero{
	height: 600px;
	height: 40vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	background:{
		repeat: no-repeat;
		size: cover;
		position: center center;
	}
	#s395853 &{
		background-image: url("/carlhester-com/_img/images/story-top.jpg");
	}
	#s395854 &{
		background-image: url("/carlhester-com/_img/images/horsesTop2.jpg");
		background-position: center top;
	}
	#s395855 &{
		background-image: url("/carlhester-com/_img/images/teamTopImg.jpg");
	}
	#s395863 &{
		background-image: url("/carlhester-com/_img/images/supportTop.jpg");
		background-position: center top;
	}
	#s395864 &{
		background-image: url("/carlhester-com/_img/images/studTop.jpg");
		background-position: center top;
	}
	#s395856 &{
		background-image: url("/carlhester-com/_img/images/yardTopImg2.jpg");
		background-position: center top;
	}
	#s395865 &{
		background-image: url("/carlhester-com/_img/images/routineTop.jpg");
		background-position: left top;
	}
	#s395857 &{
		background-image: url("/carlhester-com/_img/images/diaryTop.jpg");
		background-position: center top;
	}
	#s395858 &{
		background-image: url("/carlhester-com/_img/images/resultsTop.jpg");
		background-position: center top;
	}
	#s395860 &{
		background-image: url("/carlhester-com/_img/images/linksTop4.jpg");
		background-position: center top;
	}
	#s395861 &{
		background-image: url("/carlhester-com/_img/images/contactTop.jpg");
		background-position: center top;
	}
	
	.previewFrame &{
		height: 600px;
	}
	@include respond-to(480){
		height: 45vh;
	}
	@include respond-to(700){
		height: 55vh;
	}
	@include respond-to(920){
		height: 65vh;
		#s395855 &, #s395863 &, #s395856 &, #s395854 &, #s395858 &{
			height: 80vh;
		}
		#s395861 &{
			height: 95vh;
		}
		#s395855.previewFrame &, #s395863.previewFrame &, #s395856.previewFrame &, #s395857.previewFrame &, #s395858.previewFrame &{
			height: 600px;
		}
		
	}
	&__text-wrap{
		  max-width: 1200px;
		  margin: auto;
		  height: 100%;
		  position: relative;
	}
	&__text{
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%,-50%);
		padding: 1em 2em 1.5em;
		background-color: rgba($base-color, 0.8);
		width: 90%;
		text-align: center;
		font-size: 10px;
		@include respond-to(480){
			font-size: 14px;
		}
		@include respond-to(640){
			width: 75%;
		}
		@include respond-to(800){
			bottom: 10%;
			top: auto;
			left: 3em;
			transform: none;
			background-color: rgba($base-color, 0.9);
			width: auto;
			#s395853 &, #s395855 &, #s395865 &, #s395854 &{
				right: 3em;
				left: auto;	
			}	
		}
		@include respond-to(1000){
			//font-size: 16px;
		}

		h1{
			color: #fff;
			line-height: 1.2;
			text-transform: uppercase;
			margin-bottom: 0;
			padding-top: 0;
			// .previewFrame &{
			// 	font-size: ms(5);
			// }
		}
	
	}
}


.main{
	//background-color: #f5f5f5;
	padding: 3em 2em;
	width: 100%;
	@include respond-to(640){
		padding: 3em 3em 2em;
	}

	&__content{
		@include container;
		max-width: 60em;
	}
	h3,h4,h5{
		border-bottom: 1px solid currentColor;
		padding-bottom: 0.5em;
		@include respond-to(480){
			border-bottom: none;
			padding-bottom: 0;
		}
	}

}
.divider{
	&:after{
		content: "";
		width: 2em;
		height: 6px;
		display: block;
		background-color: $base-color;
		margin-top: 0.75em;
	}
}

.thumbnails{
	padding: 0 2em 2em;
	&__wrap{
		@include clearfix;
		max-width: 75em;
  		margin: auto;
		width: 100%;
	}
	&__photo{
		@include span(6 of 12 0);
		padding-bottom: span(6);
		position: relative;
		height: 0;
		overflow: hidden;
		border: 2px solid #fff;
		@include respond-to(480){
			@include span(3 of 12 0);
			padding-bottom: span(3);
			border: none;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}
	}
}

.inner-intro{
	width: 100%;
	padding: 2em 0;
	background-color: #f5f5f5;
	&__content{
		max-width: 69em;
		margin: auto;
		text-align: center;
		padding: 0 2em;
		@include respond-to(480){
			padding: 0 5em;
		}
	}
	h6{
		font-family: $base-font;
		font-size: 1.1em;
	}
}



/******************************************************
*******************************************************
TEAM PAGE
*******************************************************
******************************************************/


.content__wrapper{
	max-width: 75em;
	margin: auto;
}
.team-members{
	//margin-top: 3em;
}
.team-member{
	width: 100%;
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
	@include clearfix;
	&:last-child{
		border-bottom: none;
		margin-bottom: 0;
	}
	&__image{
		// padding: 0 1em;
		margin-bottom: 	1.5em;
		@include respond-to(640){
			@include span(4 of 12);
			margin-bottom: 0;
		}
		img{
			text-align: center;
			width: 100%;
			@include respond-to(640){
				width: 100%;
			}
		}	
	}
	&__info{
		// padding: 0 1em;
		max-width: 46em;
		@include respond-to(640){
			@include span(8 of 12 last);
		}	
	}
	&__content{
		p:last-of-type{
			margin-bottom: 0;
		}
	}
	&:nth-child(even){
		.team-member__image{
			@include respond-to(640){
				@include span(4 of 12 last);
			}	
		}
		.team-member__info{
			@include respond-to(640){
				@include span(8 of 12);
			}	
		}
	}
	&__name{
		font-family: $heading-font-bold; 
		line-height: 1.2;
		font-size: ms(4);
		@include respond-to(480){
			font-size: ms(5);
		}
		@include respond-to(1080){
			font-size: ms(5);
		}
	}
	&__title{
		font-family: $heading-font; 
		color: #999;
		font-size: ms(1);
	    @include respond-to(640){
	        font-size: ms(2);
	    }
	}
	&__top{
		margin-bottom: 0.5em;
	}
	.divider{
		&:after{
			//margin-top: 1.3em;
			width: 5em;
			height: 3px;
		}
	}
}

.content-cent{
	h1,h2,h3,h4,h5{
		text-align: center;
	}
	@include respond-to(640){
		h1,h2,h3,h4,h5{
			//padding-top: 0;
			text-align: left;
		}
	}
	img{
		max-width: 15em;
	}
	.divider{
		&:after{
			margin: auto;
			margin-top: 0.75em;
			@include respond-to(640){
				margin: 0;
				margin-top: 0.75em;
			}
		}
	}
}
.content-image{
	text-align: center;
	margin-top: 2em;
	&:first-child{
		margin-top: 0;
	}
}

.routine{
	strong{
		color: $base-color;
	}
}

.entry{
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #ccc;
	&:last-of-type{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}


/******************************************************
*******************************************************
LINKS PAGE
*******************************************************
******************************************************/

.link-logos{
	&__wrap{
		@include clearfix;
	}
	&__item{
		position: relative;
		text-align: center;
		margin: 0.25em 0;
		top: 0;
		transition: all 200ms ease-in-out;
		@include span(6 of 12 inside 1);
		@include respond-to(480){
			@include span(4 of 12 inside 1);
			margin: 0.5em 0;
		}
		@include respond-to(1080){
			@include span(3 of 12 inside 1);
			margin: 1em 0;
		}
		&:hover{
			box-shadow: 0 0 0 1px #ddd, 0 2px 4px 0 rgba(0,0,0,0.1);
			top: -5px;
			a:after{
				transition: opacity 300ms ease;
				opacity: 1;
			}
			img{
				filter: grayscale(100%);
				opacity: 0.75;
			}
		}
		img{
			filter: grayscale(0%);
		}
		a{
			display: block;
			&:after{
				content: attr(data-title);
				width: 94%;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 0.5em 0.5em 0.7em;
				color: #fff;
				text-transform: uppercase;
				font-size: ms(0);
				font-family: $heading-font-bold;
				display: block;
				margin: auto;
				line-height: 1;
				opacity: 0;
				background-color: rgba($base-color, 0.9);
				transition: opacity 200ms ease;
				@include respond-to(1080){
					font-size: ms(1);
				}
			}
		}
	}
}

/******************************************************
*******************************************************
RESULTS PAGE
*******************************************************
******************************************************/

.outer-results-wrap{
	height: 40em;
	max-height: 80vh;
	position: relative;
	overflow-y: scroll;
	width: 100%;
	font-size: 14px;
	border-bottom: 1px solid #bbb;
	@include clearfix;
	@include respond-to(700){
		font-size: 16px;
	}
}
.horseTrainingItemHeader{
	border-bottom: 3px solid $base-color;
	padding: 0 2em 1em;
	width: 100%;
	background-color: #fff;
	@include clearfix;
	.horseTrainingItem1, .horseTrainingItem2, .horseTrainingItem4{
		font-family: $heading-font-bold;
		font-size: ms(1);
		color: $base-color;
		text-transform: uppercase;
		display: none;
		@include respond-to(640){
			display: block;
		}
	}
}

.horseTrainingItem1{
	//@include span(7 of 12);
	@include respond-to(640){
		@include span(7 of 12);
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	@include respond-to(860){
		@include span(6 of 12);
	}
}
.horseTrainingItem2{
	//@include span(3 of 12);
	@include respond-to(640){
		@include span(3 of 12);
	}
	@include respond-to(860){
		@include span(3 of 12);
	}
}
.horseTrainingItem4{
	@include respond-to(640){
		@include span(2 of 12 last);
	}
	@include respond-to(860){
		@include span(3 of 12 last);
	}
}
.horseTrainingItem2,.horseTrainingItem4{
	@include respond-to(640){
		font-family: $heading-font-bold;
		color: $base-color;
		font-size: ms(2);
	}
	@include respond-to(860){
		font-size: ms(3);
	}
}
.horseTrainingItem{
	width: 100%;
	padding: 2em;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	@include clearfix;
	&:hover{
		background-color: #f6f6f6;
	}
	.horseTrainingItem1, .horseTrainingItem2, .horseTrainingItem4{
		@include respond-to(0to640){
			padding-bottom: 0.5em;
			margin-bottom: 0.5em;
			border-bottom: 1px solid #ddd;
			@include clearfix;
		}
		&:before {
			content: attr(data-label)": ";
			font-family: $heading-font-bold;
			color: $base-color;
			font-size: ms(1);
			text-transform: uppercase;
			width: 5.5em; 
			display: inline-block;
			@include respond-to(640){
				display: none;
			}
	  	}
	}
	.horseTrainingItem1{
		&:before {
			margin-bottom: 0.5em;
		}
	}
}
.horseTrainingItemWrap{
	@include clearfix;
	// float: right;
	// width: calc(100% - 5.5em);
	font-family: $base-font-bold;
	font-size: ms(0);
	color: #666;
	text-transform: uppercase;
	@include respond-to(640){
		width: 100%;
	}
}
.horseTrainingItemLabel{
	color: #222;
	text-transform: none;
	display: inline-block;
	margin-right: 1em;
	width: 3em;
}

