header{
	background-color: #fff;
	padding: 0.5em 0; 
	height: 4.5em;
	position: relative;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
	z-index: 10;
	transition: all 200ms ease;
	@include clearfix;
	@include respond-to(480){
		height: 6em;
	}
	&.stuck{
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		z-index: 99;
		height: 4em;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
		background-color: #eee;
	}
}
.nav-container{
	max-width: 1200px;
	margin: auto;
	height: 100%;
	z-index: 99;
	padding: 0 1em;
	@include clearfix;
}
.logo{
	text-align: left;
	line-height: 0;;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	@include span(4 of 12);
	img{
		max-height: 3.5em;
		.stuck &{
			height: 3.5em;
		}
		@include respond-to(480){
			max-height: 4.5em;
		}
	}
	a{
		display: block;
	}
	@include respond-to(480){
		@include span(2 of 12 0.2);
	}
}
.nav-wrap{
	height: 3em;
	@include span(8 of 12 last);
	@include respond-to(480){
		@include span(10 of 12 last 0.2);
		height: 5em;
	}
	.stuck &{
		height: 3em;
	}
}


.menu-wrap{
	@include respond-to(920){
		display: none;
	}
}
.nav-button{
	$width: 2.5em;
	$thickness: 6px;
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	float: right;
	//border-bottom: $thickness solid currentColor;
	width: $width;
	transition: border-bottom 1s ease-in-out;

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	.burger{
		display: block;
		height: $thickness;
		width: $width;
		background-color: currentColor;
		opacity: 1;
		position: relative;
		//top: 1em;
		margin-bottom: 5px;
		transition: all 0.5s ease-in-out;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;         
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $thickness solid currentColor;
		width: 100%;
		//margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
	}

	@include respond-to(920){
		display: none;
	}
	.show-menu &{
		//border-bottom: $thickness solid transparent;
		//transition: border-bottom 0.8s ease-in-out;

		&:before {
			transform: rotate(-405deg) translateY(3px) translateX(-3px);     
			transition: transform 0.5s ease-in-out;
		}

		&:after {
			transform: rotate(405deg) translateY(-4px) translateX(-5px);      
			transition: transform 0.5s ease-in-out;
		}
		span{
			height: 0;
			width: 0;
			opacity: 0;
		}
	}
}