/* ---------------------------------------------- *\

  Partial: typography

  I set all typographic styles here. First we list our variables such as fonts (maybe we're using some @font-face) and
  additionally and maps we might want to use. Then we specificy the typographic scales we want.

\* ---------------------------------------------- */


@font-face {
    font-family: 'texgyreadventorregular';
    src: url('/carlhester-com/_img/fonts/texgyreadventor-regular-webfont.eot');
    src: url('/carlhester-com/_img/fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/carlhester-com/_img/fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('/carlhester-com/_img/fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('/carlhester-com/_img/fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventorbold';
    src: url('/carlhester-com/_img/fonts/texgyreadventor-bold-webfont.eot');
    src: url('/carlhester-com/_img/fonts/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/carlhester-com/_img/fonts/texgyreadventor-bold-webfont.woff') format('woff'),
         url('/carlhester-com/_img/fonts/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('/carlhester-com/_img/fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato-Bold';
    src: url('/carlhester-com/_img/fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('/carlhester-com/_img/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/carlhester-com/_img/fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('/carlhester-com/_img/fonts/Lato-Bold.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('/carlhester-com/_img/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('/carlhester-com/_img/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/carlhester-com/_img/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('/carlhester-com/_img/fonts/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Semibold';
    src: url('/carlhester-com/_img/fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('/carlhester-com/_img/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/carlhester-com/_img/fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('/carlhester-com/_img/fonts/Lato-Semibold.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
}





h1, h2, h3, h4, h5, h6{
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0.35em;
    padding-top: 0.45em;
	text-rendering: optimizeLegibility;
	color: #222222;
}

h1{
	font-family: $heading-font-bold; 
	font-size: ms(7);
}

h2{
	font-family: $heading-font-bold; 
	font-size: ms(5);
	@include respond-to(640){
		font-size: ms(6);
	}
}

h3{
	font-family: $heading-font-bold; 
	font-size: ms(3);
    @include respond-to(640){
        font-size: ms(4);
    }
}

h4{
	font-family: $heading-font; 
	font-size: ms(3);	
}

h5{
	font-family: $heading-font; 
	font-size: ms(2);		
}

h6{
	font-family: $base-font-bold; 
	font-size: ms(1);
    line-height: 1.5;	
}
p{
	font-family: $base-font; 
	font-size: ms(0);
	line-height: 1.6;
	margin-bottom: 0.75em;
    padding-top: 0.35em;
}